<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Product List</title>
  </head>

  <body>

    <div class="wrapper">

      <header>
        <nav class="nav">
          <h1 class="title">Product List</h1>
          <div>
            <a class="remove-anchor-decoration" href="addproduct">
              <button class="button">ADD</button>
            </a>
            <button type="submit" form="delete" name="delete-product-btn" class="button" id="delete-product-btn" >MASS DELETE</button>
          </div>
        </nav>
        <hr />
      </header>

      <main>
        <form id="delete" action="index" method="post">
        <?php
      if(isset($allProducts)){

//      view products grid logic

        foreach($allProducts as $product){
        $id = $product->getId();
        $sku = $product->getSKU();
        $name = $product->getName();
        $price = $product->getPrice();
        $description = $product->getMeasurements();

        ?>

                <div class="content">
                  <input class="delete-checkbox" type="checkbox" name="checkbox[]" value= " <?php echo $id; ?>" />
                  <?php echo $sku."</br>";
                        echo $name."</br>";
                        echo $price.'$'."</br>";
                        echo $description."</br>";
                  ?>


                </div>
       <?php }
      } ?>

        </form>
      </main>

      <footer>
        <hr />
        <h3 class="about">Scandiweb Test assignment</h3>
      </footer>

    </div>
  </body>
</html>
