* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 8em;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0;
}

.title {
  font-size: 2em;
}

.button {
  padding: 0.25em;
  cursor: pointer;
}

.remove-anchor-decoration {
  text-decoration: none;
}

#delete-product-btn {
  background-color: rgb(228, 55, 55);
  color: white;
}

#delete-product-btn:hover {
  background-color: rgb(197, 30, 30);
}

hr {
  border-width: 0.25px;
}

#delete {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1.25em 0;
  gap: 2em 5em;
}

.content {
  border: 1px solid grey;
  height: 150px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.delete-checkbox {
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
}

/*************
    PAGE 2   *
**************/

.save-button {
  background-color: rgb(17 89 251);
  color: white;
}

.save-button:hover {
  background-color: rgb(13, 72, 209);
}

#product_form {
  margin: 1em 0;
}

.label {
  width: 7em;
  margin: 1em 0;
  display: inline-block;
}

.input {
  padding: 0.2em;
}

.select {
  padding: 8px 11px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.description {
  margin: 1em 0;
  font-weight: bold;
}
